<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
		{{> head}}
	</head>
	<body>
		<nav>
			{{> header}}
		</nav>
		<div class="container">
			{{{body}}}
		</div>
	</body>
</html>