<h1>Welcome!</h1>
<p>Welcome to my blog about learning JavaScript! Over the next few weeks I'll be writing lots of tutorials on subjects from a hello world in JavaScript, to manipulating images with canvas, and making a server with Node.js! Keep tuned! =D</p>