@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

:root {
	--primary-color: lightseagreen;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  max-width: 700px;
  width: 80vw;
}
.post {
  padding: 40px;
	margin-top: 60px;
}

.container {
	color: #333;
}

.container h1, .container h2, .container h3, .container h4, .container h5 {
  text-align: center;
	margin-top: 40px;
}

hr {
  display: block;
  height: 2px;
  border: none;
  background: linear-gradient(to right, transparent, lightblue, lightgreen, transparent)
}

pre, pre * {
  font-family: "Anonymous Pro", 'Courier New', Courier, monospace;
}
code {
  background: #0002;
  border-radius: 5px;
  padding: 10px;
}
.container h1 {
  background: linear-gradient(to right, lightseagreen, #1c6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container h2 {
  color: lightseagreen;
}
.container h3 {
  color: lightslategrey;
}
.container h4 {
  color: #d05;
}
code:not(pre code){
  padding: 3px;
  display: inline-block;
  color: #333;
  margin: 2px;
};
details {
  border-radius: 5px;
  background: var(--accents);
  margin: 5px;
  padding: 5px;
}

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0001;
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  display: list-item;
  background-color: #088;
  padding: 10px;
  color: white;
  margin: -10px -10px 0;
}

details > :not(summary) {
  margin-top: 0;
}
.post img {
  width: 80%;
  object-fit: contain;
  padding: 10px;
  display: block;
  margin: 20px auto;
  border-radius: 30px 0 30px 0;
  border: 2px solid #0bb;
}

.scroll-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: transparent;
  height: 3px;
  width: 100vw;
  z-index: 10000000;
}
.scroll-progress {
  background: linear-gradient(to right, #0d8, lightseagreen);
  display: block;
  width: 0%;
  height: 3px;
  transition: width .3s ease;
}
h2::before {
  content: "#";
  width: 0;
  display: inline-block;
  user-select: none;
  color: transparent;
  transition: width .3s ease, color .4s ease;
}
h2:hover::before {
  width: 20px;
  color: lightseagreen;
  cursor: pointer;
}
h2.hash {
  animation: flash 1s ease infinite;
  animation-iteration-count: 5;
}
@keyframes flash {
  0% {
    color: lightblue;
  }
  50% {
    color: rgb(41, 161, 209);
  }
  100% {
    color: lightblue;
  }
}